body{
  position: relative;
  /* height: 100vh; */
}

.lines-cont{
background-color: #f8f8f8;
width: 90%;
height: 95vh;
margin: auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
box-shadow: rgb(228, 228, 228) 4px 4px 10px 1px;
border: rgb(233, 233, 233) thin solid ;
/* z-index: 1; */
}


.lines-cont:nth-child(1){
  
  position: relative;
  z-index: 2;
}

.lines-cont:nth-child(2){
  position: absolute;
  top:0px ; 
  right: 15px;
  z-index: 1;
  transform: rotate(-3deg) ; 
box-shadow: rgb(228, 228, 228) 0px 0px 10px 1px;
}
.lines-cont:nth-child(3){
  position: absolute;
  top:0px ; 
  left: 20px;
  z-index: -3;
  transform: rotate(-3deg) ;
  opacity: .8; 
box-shadow: rgb(228, 228, 228) 0px 0px 10px 1px;
}


.h-line{
height: 2px;
width: 100%;
background-color: rgb(212, 212, 212);
}

.v-line{
  z-index: 3;
  position: fixed;
  height: 95vh;
  top: 10px;
  left: 120px;
background-color: rgb(250, 144, 144);
width: 2px;
/* height: 150px; */
}



@media(max-width:600px){
  .v-line{
  
    left: 60px;
 
  }
  
}