body,
a,
ul,
ol,
a,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* styling the nav 
============================== */
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #0fabbc;
  /* padding: 10px 0 ; */
}

/* styling the links */
ul {
  list-style: none;
  display: flex;
}
ul li {
  padding: 10px 20px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: white;
  border-bottom: thick solid transparent;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.034);
  border-bottom: thick solid white;
  cursor: pointer;
}
/* styling the brand */
nav a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}




.fa-bars {
  color: white;
  font-size: 35px !important;
  padding: 10px;
}

.slide{
  position: fixed;
  top: 54px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: #148794;
  z-index: 2;
  text-align: center;
  transform: translateY(100vh);
  transition: .3s;
}

.toggle{
  transform: translateY(0);
}






.fa-bars:hover {
  color: rgb(236, 236, 236);
  cursor: pointer;
}
nav a:hover {
  transform: scale(1.1);
}

.alert {
  background-color: #cf1b1b;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px;
  font-family: "Roboto";
  font-size: 20px;
  transition: .3s;
}

.fa-times {
  color: #680000;
  padding: 20;
  transition: 0.3s;
}
.fa-times:hover {
  color: #440101;
  cursor: pointer;
  transform: scale(1.1);
}

/* styling the cover
========================= */
.cover-cont {
  position: relative;
}
.cover {
  width: 100%;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  flex: 1;
}

.overlay h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 60px;
  text-transform: uppercase;
}

/* styling the input */

.input-cont input {
  width: 800px;
  height: 50px;
}
.input-cont button {
  background-color: #12cad6;
  color: white;
  display: inline-block;
  padding: 13px 20px;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 22px;
  outline: none;
  border: none;
  transition: 0.3s;
}

.input-cont button:hover {
  background-color: #0fabbc;
}
/* styling the info container 
================================= */
.info-cont {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  width: 350px;
  transition: 0.3s ease-in-out;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.034) 0px 0px 10px 5px;
}

.icon-cont {
  background-color: #0fabbc;
  /* padding: 20px; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h6 {
  /* color: #0fabbc; */
  font-size: 30px;
  text-align: center;
}

.info p {
  color: #2a2a2a;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.info i {
  font-size: 70px;
  color: white;
  /* background-color: red; */
}

.info:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  font-family: "Roboto";
}

.teaser-cont {
  padding: 20px;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.teaser-cont img {
  width: 50%;
}

.teaser-par {
  flex: 1;
}

.teaser-par h2 {
  text-align: center;
}
.teaser-par p {
  text-align: center;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
}

.contact-cont {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #0fabbc;
  box-shadow: inset #148794 0px 0px 100px 1px;
}

.contact-input-cont {
  display: flex;
  flex-direction: column;
}
.contact-input-cont input {
  margin-bottom: 10px;
  border-radius: 5px;
  /* border: #b9b9b9 solid thin; */
  height: 30px;
  padding: 0 10px;
  border: none;
  /* background-color: red; */
}

.contact-input-cont textarea {
  border-radius: 5px;
  border: none;
}

.contact-input-cont button {
  background-color: black;
  border: none;
  color: white;
  height: 50px;
  margin: 10px 0;
  border-radius: 5px;
}

.contact-input-cont label {
  color: white;
  font-family: "Roboto";
  /* margin-left: 20px;
margin-top: 10px; */
}

.contact-par {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-par h1 {
  color: white;
}

.contact-par p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.hide-reverse {
  display: none !important;
}

@media (max-width: 1500px) {
  .input-cont input {
    width: 400px;
  }

  .overlay h1 {
    font-size: 40px;
  }

  .teaser-cont {
    width: 80%;
  }

  .hide-reverse {
    display: block !important;
  }

  .hide {
    display: none;
  }
}

a[target='_blink']{
  color: #12cad6;
  font-family: 'Roboto' , sans-serif;
}

@media (max-width: 600px) {
  .input-cont input {
    width: 200px;
  }

  .overlay h1 {
    font-size: 30px;
  }
  .teaser-cont {
    width: 90%;
    background-color: whitesmoke;
    /* box-shadow: rgba(2, 2, 2, 0.075) 0px 0px 5px 10px; */
    border: thin solid rgb(230, 230, 230);
    margin: 10px 0;
  }
  .teaser-cont img {
    width: 100%;
  }
}
